@model int  

@{
	 var userId = ViewData["userId"];
	 var products = ViewData["Products"] as List<FirstWebApp.Models.productsTable>;
	var transactions = ViewData["Transactions"] as List<FirstWebApp.Models.transactionTable>;
}


<div style="margin-top:128px">
	<h1 class="w3-center">Transaction History</h1>

	<div class="w3-row-padding" style="margin-top:64px">
		@foreach (var transaction in transactions)
		{
			if (transaction.UserID == (int)userId)
			{
				var product = products.FirstOrDefault(p => p.ProductID == transaction.ProductID);
				if (product != null)
				{
					<div class="w3-col l3 m6 w3-margin-bottom">
						<div class="w3-card">
							<img src="@product.ImageURL" alt="Product picture" style="width:100%">
							<div class="w3-container w3-center">
								<h4 class="card-title">Product ID: @product.ProductID</h4>
								<p class="card-text">@product.Name</p>
								<p class="card-text">R@{
										var price = decimal.Parse(product.Price); @price.ToString("F2")
									}</p>
								<p class="card-text">@product.Category</p>
								<p class="card-text">@(transaction.TransactionTime == null ? "N/A" : ((DateTime)transaction.TransactionTime).ToString("yyyy-MM-dd HH:mm:ss"))</p>
							</div>
						</div>
					</div>
				}
			}
		}
	</div>
</div>


